<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.22.0/dist/bootstrap-vue.min.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ドルジャラ リモートコントローラ</title>

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.22.0/dist/bootstrap-vue.min.js"></script>
    <!-- Load the following for BootstrapVueIcons support -->
    <script src="https://unpkg.com/bootstrap-vue@2.22.0/dist/bootstrap-vue-icons.min.js"></script>

    <script src="https://unpkg.com/axios@0.27.2/dist/axios.min.js"></script>

    <style>

        body {
            background-color: mediumseagreen;
        }

        .badge {
            background-color: greenyellow;
        }

        .row {
            background-color: darkseagreen;
        }

        img {
            background-color: white;
        }

    </style>
</head>
<body>
    <div id="app" class="container">
        <b-overlay :show="isLoading" variant="dark" opacity="0.4" rounded="sm" spinner-variant="light">
            <h1 class="h2"><span class="badge">{{ seatName }}</span></h1>

            <div class="row row-cols-3 row-cols-sm-5 m-1 rounded">
                <div class="col p-3" v-for="idol in idols">
                    <div v-bind:class="{ invisible: idol.imagePath === '' }">
                        <img class="d-block mx-auto rounded" v-bind:src="imagePrefix + idol.imagePath" v-on:click="unselect(idol)"
                            width="70" height="100" alt="">
                    </div>
                </div>
            </div>

            <div class="text-right mt-2">
                <button type="button" class="btn btn-light" v-on:click="scout" v-bind:disabled="idols.length !== 8">スカウト</button>
            </div>
        </b-overlay>
        <b-modal v-model="isConflict" hide-header ok-only>更新が衝突しました。再度操作を行ってください</b-modal>
    </div>

    <script>

        var app = new Vue({
            el: "#app",
            data: {
                isLoading: true,
                isConflict: false,
                seatName: "読み込み中...",
                imagePrefix: "img/",
                idols: [
                    {
                        imagePath: ""
                    },
                    {
                        imagePath: ""
                    },
                    {
                        imagePath: ""
                    },
                    {
                        imagePath: ""
                    },
                    {
                        imagePath: ""
                    },
                    {
                        imagePath: ""
                    },
                    {
                        imagePath: ""
                    },
                    {
                        imagePath: ""
                    }
                ]
            },
            methods: {
                unselect: function (idol) {
                    app.isLoading = true;

                    if (json.data[hashParams.get("PPropName")].unselectedIdols.length === 14) {
                        app.isLoading = false;
                        return;
                    }

                    json.data[hashParams.get("PPropName")].unselectedIdols.push(idol);
                    this.idols.splice(this.idols.indexOf(idol), 1);

                    this.idols = this.idols.sort(function (a, b) {
                        return (a.id > b.id) ? 1 : -1;
                    });

                    putJSON();
                },
                scout: function () {
                    app.isLoading = true;

                    if (json.data.applicants.length === 0) {
                        app.isLoading = false;
                        return;
                    }

                    this.idols.push(json.data.applicants.shift());

                    putJSON();
                }
            }
        });

        const APIServerURL = "https://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/DoljaraRooms?rid=";
        const WSServerURL = "ws://xxxxxxxxxxxxxx:xxxx/DoljaraRealtimeSync";

        const SeatNameMap = new Map();
        SeatNameMap.set("eastP", "東");
        SeatNameMap.set("westP", "西");
        SeatNameMap.set("southP", "南");
        SeatNameMap.set("northP", "北");

        var hashParams = new Map();
        location.hash.slice(1).split("&").map(paramStr => {
            if (paramStr === "") {
                return;
            }

            let key, value;
            [key, value] = paramStr.split("=");

            hashParams.set(key, value);
        });

        var statusCode = 200;

        if (SeatNameMap.has(hashParams.get("PPropName"))) {
            app.seatName = SeatNameMap.get(hashParams.get("PPropName"));
        } else {
            app.seatName = "パラメータが不正です";
            statusCode = 400;
        }

        if (!hashParams.get("RoomID")) {
            app.seatName = "パラメータが不正です";
            statusCode = 400;
        }

        var webSocket;

        if (statusCode === 200) {

            webSocket = new WebSocket(WSServerURL);
            webSocket.onmessage = function (event) {
                if (app.isLoading || JSON.parse(event.data).code != hashParams.get("RoomID")) {
                    return;
                }

                app.isLoading = true;
                getJSON();
            }
            webSocket.onclose = function (event) {
                app.isLoading = true;
                app.seatName = "サーバとの接続が解除されました";
            }

            getJSON();

        }


        var json;

        function getJSON() {
            axios.get(
                APIServerURL + hashParams.get("RoomID")
            ).then(function (response) {
                json = response.data.room.raw;
                app.idols = json.data[hashParams.get("PPropName")].scoutedIdols;
                app.isLoading = false;
            }).catch(function (error) {
                if (error.response.status === 404) {
                    app.seatName = "ルームが存在しません";
                }
            });
        }

        function putJSON() {
            axios.put(
                APIServerURL + hashParams.get("RoomID") + "&origrev=" + json.rev,
                json
            ).then(function (response) {
                app.isLoading = false;

                let messageJson = new Object();
                messageJson.code = hashParams.get("RoomID");
                webSocket.send(JSON.stringify(messageJson));
            }).catch(function (error) {
                if (error.response.status === 409) {
                    app.isConflict = true;
                    getJSON();
                }
            });
        }

    </script>
</body>
</html>
